/*COLORS*/
//top-bar
$top-bar-name-color: #789ab2;
//content
$btnColors: #f58220;
$font-color-first: #a6a6a6;
$links-color: #668ca5;
$links-color-hover: #f1f3f3;
//side-bar
$side-bar-color: #191919;
$side-bar-font-color: #999999;
$side-bar-hover: #282828;

/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,500i,700,700i,900');
$general-font:  'Roboto', sans-serif;