@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "sections/top-menu";
@import"sections/side-menu";
@import "sections/main-content";
@import "sections/Glyphter";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $general-font;
    background-color: $content-color;
}
   