.side-bar.side-bar-hidden+.my-web-links {
    margin: 0 auto;
    padding-left: 30px;

    @include sm {
        padding: 0;
    }
}
.side-bar-hidden {
    .hamburger {
        @include sm {
            padding: 5px;
        }

    }
}
.banners h1{
    margin: 0 auto;
}
