body {
    overflow-x: hidden;
    overflow-y: auto;
}

.detalis-content {
    .container {
        @include sm {
            padding: 0;
        }
    }

    .table-detalis {
        display: block;
        width: 100%;
        overflow-x: auto;
        margin-top: 40px;
    }

    table {
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;

        .icon-arrow-up-small {
            font-size: 10px;
            padding: 0 6px;
            opacity: 0;
        }

        tr {
            border-bottom: 1px solid #E3E3E3;

            &:not(:first-child):hover {
                background-color: #F1F3F3;
                cursor: pointer;
            }
        }

        th {
            font-size: 14px;
            color: #A6A6A6;
            white-space: nowrap;
            text-align: left;
            padding: 17px;

            &:hover {
                background-color: #F1F3F3;
                cursor: pointer;
                color: #000000;

                .icon-arrow-up-small {
                    opacity: 1;
                    color: #A6A6A6;
                }
            }

            @include lg {
                padding: 14px;
            }
        }

        td {
            font-size: 15px;
            white-space: nowrap;
            font-weight: 300;
            text-align: left;
            padding: 17px;

            @include lg {
                padding: 14px;
            }
        }

    }

    .numbers-details {
        text-align: center;
        padding: 35px 0;
        font-size: 19px;
        font-weight: 300;

        @include sm {
            font-size: 16px;
        }

        a {
            padding: 7px 13px;
            text-decoration: none;
            color: #789AB2;
            border-radius: 4px;

            @include sm {
                padding: 5px 8px;
            }

            &:hover {
                background-color: #F1F3F3;
                color: #A6A6A6;
            }
        }
    }

    .arrow-color {
        color: #C1C1C1;

        &:hover {
            color: #789AB2;
            cursor: pointer;
        }
    }
}