body {
    overflow-x: hidden;
    overflow-y: auto;
}

.detalis-content {
    .container {
        @include sm {
            padding: 0;
        }
    }

    .table-detalis {
        display: block;
        width: 100%;
        overflow-x: auto;
        margin-top: 40px;
    }

    table {
        width: 100%;
        max-width: 100%;
        border-collapse: collapse;

        @include lg {
            width: 95%;
            margin: 0 auto;
        }

        @include sm {
            width: 100%;
        }

        .icon-arrow-up-small {
            font-size: 10px;
            padding: 0 6px;
            opacity: 0;
        }

        thead {
            tr {
                @include lg {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
            }

            th {
                font-size: 14px;
                color: #A6A6A6;
                white-space: nowrap;
                text-align: left;
                padding: 17px;
                border-bottom: 1px solid #E3E3E3;

                &:hover {
                    background-color: #F1F3F3;
                    cursor: pointer;
                    color: #000000;

                    .icon-arrow-up-small {
                        opacity: 1;
                        color: #A6A6A6;
                    }
                }

                @include lg {
                    padding: 14px;
                    display: block;
                    width: 100%;
                }


            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #E3E3E3;

                @include lg {
                    width: 100%;
                    border: none;
                    border-bottom: 3px solid #000000;
                }

                &:hover {
                    background-color: #F1F3F3;
                    cursor: pointer;
                }
            }

            td {
                font-size: 15px;
                white-space: nowrap;
                font-weight: 300;
                text-align: left;
                padding: 17px;

                @include lg {
                    display: block;
                    width: 100%;
                    border: none;
                    border-bottom: 1px solid #E3E3E3;
                    position: relative;
                    padding-left: 45%;

                    &:first-of-type::before {
                        content: "Tracker name:";
                        font-size: 14px;
                        color: #A6A6A6;
                        font-weight: bold;
                        position: absolute;
                        top: 14px;
                        left: 14px;
                        padding-right: 20px;
                        white-space: nowrap;


                    }

                    &:nth-child(2n)::before {
                        content: "Initiated date:";
                        font-weight: bold;
                        font-size: 14px;
                        color: #A6A6A6;
                        position: absolute;
                        top: 14px;
                        left: 14px;
                        padding-right: 20px;
                        white-space: nowrap;

                    }

                    &:nth-child(3n)::before {
                        content: "Visits:";
                        font-weight: bold;
                        font-size: 14px;
                        color: #A6A6A6;
                        position: absolute;
                        top: 14px;
                        left: 14px;
                        padding-right: 20px;
                        white-space: nowrap;
                    }

                    &:nth-child(4n)::before {
                        content: "Unique:";
                        font-weight: bold;
                        font-size: 14px;
                        color: #A6A6A6;
                        position: absolute;
                        top: 14px;
                        left: 14px;
                        padding-right: 20px;
                        white-space: nowrap;
                    }

                    &:nth-child(5n)::before {
                        content: "Signups:";
                        font-weight: bold;
                        font-size: 14px;
                        color: #A6A6A6;
                        position: absolute;
                        top: 14px;
                        left: 14px;
                        padding-right: 20px;
                        white-space: nowrap;
                    }

                    &:nth-child(6n)::before {
                        content: "FTD:";
                        font-weight: bold;
                        font-size: 14px;
                        color: #A6A6A6;
                        position: absolute;
                        top: 14px;
                        left: 14px;
                        padding-right: 20px;
                        white-space: nowrap;
                    }

                    &:nth-child(7n)::before {
                        content: "Depositors:";
                        font-weight: bold;
                        font-size: 14px;
                        color: #A6A6A6;
                        position: absolute;
                        top: 14px;
                        left: 14px;
                        padding-right: 20px;
                        white-space: nowrap;
                    }

                    &:nth-child(8n)::before {
                        content: "Deposits ($):";
                        font-weight: bold;
                        font-size: 14px;
                        color: #A6A6A6;
                        position: absolute;
                        top: 14px;
                        left: 14px;
                        padding-right: 20px;
                        white-space: nowrap;
                    }

                    &:nth-child(9n)::before {
                        content: "Payout:";
                        font-weight: bold;
                        font-size: 14px;
                        color: #A6A6A6;
                        position: absolute;
                        top: 14px;
                        left: 14px;
                        padding-right: 20px;
                        white-space: nowrap;
                    }

                    &:nth-child(10n)::before {
                        content: "Turnover:";
                        font-weight: bold;
                        font-size: 14px;
                        color: #A6A6A6;
                        position: absolute;
                        top: 14px;
                        left: 14px;
                        padding-right: 20px;
                        white-space: nowrap;
                    }

                    &:nth-child(11n)::before {
                        content: "Deal:";
                        font-weight: bold;
                        font-size: 14px;
                        color: #A6A6A6;
                        position: absolute;
                        top: 14px;
                        left: 14px;
                        padding-right: 20px;
                        white-space: nowrap;
                    }
                     &:hover {
                         background-color: #ffffff;
                     }

                    @include sm {
                        padding-left: 50%;
                    }


                }
            }
        }
    }

    .numbers-details {
        text-align: center;
        padding: 35px 0;
        font-size: 19px;
        font-weight: 300;

        @include sm {
            font-size: 16px;
        }

        a {
            padding: 7px 13px;
            text-decoration: none;
            color: #789AB2;
            border-radius: 4px;

            @include sm {
                padding: 5px 8px;
            }

            &:hover {
                background-color: #F1F3F3;
                color: #A6A6A6;
            }
        }
    }

    .arrow-color {
        color: #C1C1C1;

        &:hover {
            color: #789AB2;
            cursor: pointer;
        }
    }
}