.side-bar {
    width: 220px;
    height: 100%;
    background-color: $side-bar-color;
    position: fixed;
    color: $font-sidebar;
    z-index: 2;
    overflow-y: auto;
    transition: .5s;

    @include sm {
        width: 100%;
    }


    &.side-bar-hidden {
        margin-left: -155px;

        @include sm {
            margin-left: -73%;
        }

        .side-navigation {
            .nav-side {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                padding-right: 5px;
            }
        }

        +.general-statistic {
            padding-left: 30px;

            @include sm {
                padding: 0;
            }
        }

        +.my-web-links {
            padding-left: 75px;
        }

        .user-profile {
            justify-content: space-between;
            flex-direction: row-reverse;
        }

        @include sm {
            .btn-top-side {
                justify-content: space-between;
                flex-direction: row-reverse;
                background: $side-bar-color;
                border: none;
                padding: 18px;
                color: $font-sidebar;
                outline: none;

                &:hover {
                    background-color: $side-bar-hover;
                    color: #fff;
                }
            }
        }

        .side-bar-user {
            .online-side-bar {
                padding: 0px 8px 15px 0;

                h3 {
                    display: none;
                }
            }
        }
    }
}

.header-sidebar {
    display: flex;
    justify-content: space-around;

    .logo {
        padding: 23px 0;
    }

    .hamburger {
        padding: 23px 0;
        font-size: 23px;
        color: $side-bar-font-color;

        .fas {
            margin-left: 75px;

            &:hover {
                color: $btnColors;
                cursor: pointer;
            }
        }
    }
}

.side-navigation {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    ul {
        list-style: none;

        li {
            padding: 15px;
            color: $side-bar-font-color;
            font-size: 20px;
            font-weight: 300;

            &:hover {
                color: #fff;
                background-color: $side-bar-hover;
                border-left: 5px solid $btnColors;
                cursor: pointer;

                a {
                    color: #ffffff;
                }
            }

            .side-icons-bar {
                padding-right: 15px;
            }
        }
    }

    a {
        text-decoration: none;
        color: $side-bar-font-color;
        font-size: 20px;
        font-weight: 300;
    }
}

.side-bar-second-part {

    .side-bar-user {
        border-top: 1px solid #fff;
        position: relative;

        h1 {
            font-size: 17px;
            font-weight: 400;
            margin: 30px;
        }

        .online-side-bar {
            text-align: center;
            margin-top: 20px;

            &:hover {
                cursor: pointer;
                color: #fff;
            }

            .user-profile {
                display: flex;
                color: #56819f;
                align-items: center;
                padding-left: 10px;
                height: 61px;

                &:hover {
                    color: #fff;
                    background-color: $side-bar-hover;
                    border-left: 5px solid $btnColors;
                    cursor: pointer;
                }

                h2 {
                    padding-left: 15px;
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }
    }

}

.top-menu-side {
    display: none;

    @include sm {
        display: flex;
        flex-direction: column;
    }
}

.side-bar .btn-top-side {
    display: flex;
    background: black;
    color: white;
    height: 61px;
    align-items: center;
    border: none;
    padding: 15px;
    color: #999999;
    font-size: 20px;
    font-weight: 300;
    outline: none;

    .btn-position {
        padding-left: 15px;
    }

    .user {
        color: $top-bar-name-color;

        &:hover {
            color: #fff;
        }
    }

    &:hover {
        color: #fff;
        background-color: $side-bar-hover;
        border-left: 5px solid $btnColors;
        cursor: pointer;
    }
}

.side-bar .green-dot {
    width: 8px;
    height: 8px;
    background: #04ae00;
    position: absolute;
    top: 87px;
    left: 42px;
    border-radius: 50%;
}

.side-bar-hidden .green-dot {
    width: 8px;
    height: 8px;
    background: #04ae00;
    position: absolute;
    top: 46px;
    left: 238px;
    border-radius: 50%;
}

.side-bar-hidden .side-bar-user h1 {
    margin: 0 auto;
}

.side-bar-hidden {
    visibility: hidden;

    .hamburger {
        visibility: visible;
        padding: 10px 0;

        @include sm {
            padding: 13px 0;
        }

        .fa-bars {
            font-size: 35px;
        }
    }
}